body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.calculator-container {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
label {
  font-weight: bold;
}
input[type="number"],
select,
input[type="range"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}
input[type="range"] {
  accent-color: blue;
  cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.details-center {
  text-align: center;
}
.results-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.right-border {
  border-right: #333 solid 1px;
  padding-right: 10px;
}
#results {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}
#results p {
  font-size: 16px;
}
#results span {
  float: right;
  font-weight: bold;
}
@media (max-width: 768px) {
  form {
    grid-template-columns: 1fr 1fr; /* Превключване към една колона за устройства под 768px */
    gap: 20px;
  }
  h1 {
    font-size: 28px;
  }
  label{
    font-size: 14px;
    
  }
  .results-grid {
    grid-template-columns: 1fr; /* Превключване резултатите също към една колона */
    gap: 10px;
  }

  .right-border {
    border-right: none;
    padding-right: 0;
  }

  .details-center {
    font-size: 16px; /* Намаляване на размера на шрифта за заглавията */
  }

  #results p {
    font-size: 14px; /* Намаляване на размера на шрифта за параграфите в резултатите */
  }

  .calculator-container {
    padding: 20px; /* Намаляване на подложката за по-малки екрани */
  }
}
@media (max-width: 540px) {
  form {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
    grid-template-columns: 1fr;
  }
  h1 {
    text-align: center;
    font-size: 22px;
  }
}
@media (max-width: 480px) {
  body {
    padding: 10px; /* Намаляване на подложката на тялото за много малки устройства */
  }
  form {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
    grid-template-columns: 1fr;
  }
  label {
    font-size: 14px; /* Намаляване на размера на шрифта на етикетите */
  }

  input[type="number"],
  select,
  input[type="range"] {
    padding: 6px; /* Намаляване на подложката за въвеждане за по-добра четимост */
  }
  .results-grid {
    gap: 5px;
  }
  .calculator-container {
    width: 100%; /* Разширяване на контейнера да заема цялата широчина */
    max-width: none; /* Отмяна на максималната широчина */
  }
}
