body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calculator-container {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}
/* Form styles where we have 2 columns */
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

label {
  font-weight: bold;
}

input[type="number"],
select,
input[type="range"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

input[type="range"] {
  accent-color: blue;
  cursor: pointer;
}
/* Remove arrows from number inputs */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.details-center {
  text-align: center;
}

.results-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.right-border {
  border-right: #333 solid 1px;
  padding-right: 10px;
}

#results {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}

#results p {
  font-size: 16px;
}

#results span {
  float: right;
  font-weight: bold;
}
.error-message{
  color: red;
  font-size: 12px;
  font-weight: bold;
  margin-top: 2px;
  height: 2px;
}
/* Media queries for responsive design */
@media (max-width: 768px) {
  form {
    gap: 20px;
  }
  h1 {
    font-size: 28px;
  }
  label {
    font-size: 14px;
  }
  .results-grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .right-border {
    border-right: none;
    padding-right: 0;
  }

  .details-center {
    font-size: 16px;
  }

  #results p {
    font-size: 14px;
  }

  .calculator-container {
    padding: 20px;
  }
}

@media (max-width: 540px) {
  /* Form styles where we have 1 column */
  form {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
    grid-template-columns: 1fr;
  }
  h1 {
    text-align: center;
    font-size: 22px;
  }
}

@media (max-width: 480px) {
  body {
    padding: 10px;
  }
  form {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr;
  }
  label {
    font-size: 14px;
  }

  input[type="number"],
  select,
  input[type="range"] {
    padding: 6px;
  }
  .results-grid {
    gap: 5px;
  }
  .calculator-container {
    width: 100%;
    max-width: none;
  }
}
